.wrapper {
    max-width: 1140px;
    margin: 0 auto;
}

.calender {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

caption {
    font-size: 22px;
    color: #fff;
    background-color: #444;
    text-transform: uppercase;
    padding: 10px;
    -webkit-border-radius: 25px 25px 0 0;
    border-radius: 25px 25px 0 0;
}

/* set the table color and spacing */
table.cal {
    color: #06425C;
    border-spacing: 0;
    border: 3px solid black;
    -webkit-border-radius: 0 0 25px 25px;
    border-radius: 0 0 25px 25px;
}

.cal th,
.cal td {
    padding: 15px;
    text-align: center;
}

.cal th {
    text-align: center;
    background-color: #fff;
}

.disable {
    color: #ccc;
}

td:nth-child(1) {
    color: crimson;
    font-weight: 600;
}

/* Alternate colors between even and odd */
tr:nth-child(odd) {
    background: #f2f2f2;
}

tr:nth-child(even) {
    background: #cdbb79;
}

tr:last-child {
    -webkit-border-radius: 25px 25px 0 0;
    border-radius: 0 0 25px 25px;

}

tr:last-child>td:first-child {
    -webkit-border-radius: 0 0 0 25px;
    border-radius: 0 0 0 25px;

}

tr:last-child>td:last-child {
    -webkit-border-radius: 0 0 25px 0;
    border-radius: 0 0 25px 0;
    background-color: skyblue;

}

/* format any holidays */
.holiday {
    margin: 0;
    padding: 0;
    background-color: #51a390;
}

/* Use a background image */

.old {
    padding: 0;
    margin: 0;
    background-color: #51a390;
    color: rgba(0, 0, 0, .25);
    border-spacing: 0;
}

span {
    display: block;
    text-align: center;
    color: #000;
    visibility: hidden;
}

/* td:active>span {
    visibility: visible;
} */

td:hover>span {
    visibility: visible;
}